RewriteEngine on

RewriteBase /

RewriteRule ^([A-Za-z_]+)/$ $1 [R]
RewriteRule ^([A-Za-z_]+)$ read.php?tale=$1
RewriteRule ^([A-Za-z_]+)/1/$ $1 [R]
RewriteRule ^([A-Za-z_]+)/([0-9]+)/$ $1/$2 [R]
RewriteRule ^([A-Za-z_]+)/1$ $1 [R]
RewriteRule ^([A-Za-z_]+)/([0-9]+)$ read.php?tale=$1&page=$2
